body {
    background-color: gainsboro;
}

span {
    background-color: royalblue;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 0.5px 0.5px 3px white, -0.5px -0.5px 3px white;
}

.main {
    width: 960px;
    margin: 80px auto;
}

.satu {
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    overflow: hidden;
}

.satu:hover, .dua:hover {
    background-color: black;
    color: white;
    transform: translateY(-3%);
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.5);
}

.dua {
    width: 400px;
    float: right;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    overflow: hidden;
}